{% extends "layout.html" %}
{% block body_base %}
	    		
	<div>
		<tr>
		    <td><img class="resize-img" src={{ questions.link_image }}></td>
		    <td>{{ questions.name }}</td>
		    <td><a href="{{ url_for('endpoints.home', nickname=questions.nickname) }}">@{{ questions.nickname }}</a></td>
    		<td>{{ questions.key_timeline_post }}</td>
    		{% if questions.win_answers %}
    			<input type="button" value="Done!!!"/>
    		{% else %}
    			<input type="button" value="In progress!!!"/>
    		{% endif %}	
		</tr>
	</div>
	<div>
		<td>{{ questions.message140 }}</td>
	</div>
	<div>link video: {{ questions.link }}</div>
	<div>
		<tr>
		{% for skill in questions.skills %}
			<a class="btn btn-default" href="{{ url_for('endpoints.finder', find=skill) }}">{{ skill }}</a>
		{% endfor %}
		<td>answers: {{ questions.total_answers }}</td>
		<a class="btn btn-default" href="{{ url_for('endpoints.answer', question=questions['keys']['hash_key']) }}">Answer!</a>
		<a class="btn btn-default" href="{{ url_for('endpoints.show', question=questions['keys']['hash_key']) }}">Show!</a>
		</tr>
	</div>
	
	{% if win_answers %}
		<br />
		<b>win answers!!!</b>
		{% for answer in win_answers %}
			<div>
				<tr>
				    <td><img class="resize-img" src={{ answer.link_image }}></td>
				    <td>{{ answer.name }}</td>
				    <td><a href="{{ url_for('endpoints.home', nickname=answer.nickname) }}">@{{ answer.nickname }}</a></td>
		    		<td>{{ answer.key_timeline_post }}</td>
				</tr>
			</div>
			<div>
				<td>{{ answer.message140 }}</td>
			</div>
			<div>link video: {{ answer.link }}</div>
			<div>
				{% if 'user' in session and questions.key_user == session.user.key %}
					<form action="{{ url_for('endpoints.update_post') }}" method="post">
						<input type="hidden" name="question" value={{ questions['keys']['hash_key'] }}>
						<input type="hidden" name="answer" value={{ answer['keys']['hash_key'] }}>
						<input type="hidden" name="state" value={{ answer.win }}>
						<input type="submit" value="winner"/>		
					</form>
				{% else %}
					<input type="button" value="winner" disabled/>
				{% endif%}
			</div>
		{% endfor %}
	{% endif %}	
	
	{% if answers %}
		<br />
		<b>answers!!!</b> 
		{% for answer in answers %}
			<div>
				<tr>
				    <td><img class="resize-img" src={{ answer.link_image }}></td>
				    <td>{{ answer.name }}</td>
				    <td><a href="{{ url_for('endpoints.home', nickname=answer.nickname) }}">@{{ answer.nickname }}</a></td>
		    		<td>{{ answer.key_timeline_post }}</td>
				</tr>
			</div>
			<div>
				<td>{{ answer.message140 }}</td>
			</div>
			<div>link video: {{ answer.link }}</div>
			<div>
				{% if 'user' in session and questions.key_user == session.user.key %}
					<form action="{{ url_for('endpoints.update_post') }}" method="post">
						<input type="hidden" name="question" value={{ questions['keys']['hash_key'] }}>
						<input type="hidden" name="answer" value={{ answer['keys']['hash_key'] }}>
						<input type="hidden" name="state" value={{ answer.win }}>
						<input type="submit" value="winner"/>		
					</form>
				{% else %}
					<input type="button" value="winner" disabled/>
				{% endif%}
			</div>
		{% endfor %}
	{% endif %}	
{% endblock %}
