{%- macro a_q_format(data, skill='', key_user_question='', question=1) -%}
{% from 'a_q_forms.html' import ifanswer, ifquestion, q_skills, btnlink, btnform %}
<li class="list-group-item">
    <div>                   
        <div class="media">
            <a class="pull-left" href={{ url_for('endpoints.profile', nickname=data.nickname) }}>
                <img class="img-circle resize-img"  src="{{ data.link_image }}" alt="...">
            </a>
            
            {% if data['keys']['hash_key_original'] %}
                {{ ifanswer(_key_user=data.key_user, _key_original_post=data['keys']['hash_key_original'], _hash_key=data['keys']['hash_key'], _win=data.win, _keyuserquestion=key_user_question) }}
            {% else %}
                {{ ifquestion(_winanswers=data.win_answers, _totalanswers=data.total_answers, _key_user=data.key_user, _hash_key=data['keys']['hash_key'], _win=data.win) }}
            {% endif %}
            
            <div class="media-body">
                <div class="media-heading">
                    {{ data.name }} <a href={{ url_for('endpoints.home', nickname=data.nickname) }}>@{{ data.nickname }}</a>
                    <div>
                        {{ data.key_timeline_post }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="comment-text">
            {{ data.message140 }}
            <a href="{{ data.link }}">{{ data.link }}</a>
        </div>
        <div class="btn-toolbar">
            {% if not data['keys']['hash_key_original']  %}
                {{ q_skills(skills = data.skills, skill_find=skill) }}
                {{ btnlink(_value=data['keys']['hash_key'], _text='...') }}
                {% if question %}
                    {{ btnform(_value=data, _name='full_question', _endpoint='endpoints.answer', _text='answers', _class_icon='badge', _class_btn='btn-default', _answers=data.total_answers) }}
                {% else %}
                    
                {% endif %}
            {% else %}
                {{ btnlink(_value=data['keys']['hash_key_original'], _text='...') }}
            {% endif %}
        </div>
    </div>
</li>
{%- endmacro -%}