{%- macro a_q_format(data, skill='') -%}
{% from 'a_q_forms.html' import ifvalidation as ifbtn, q_skills, button %}

<li class="list-group-item">
    <div>                   
        <div class="media">
            <a class="pull-left" href="{{ url_for('endpoints.profile', nickname=data.nickname) }}">
                <img class="img-circle resize-img"  src="{{ data.link_image }}" alt="...">
            </a>
            {{ ifbtn(winanswers=data.win_answers, totalanswers=data.total_answers, key_user=data.key_user, key_original_post=data['keys']['hash_key_original'], hash_key=data['keys']['hash_key']) }}
            <div class="media-body">
                <div class="media-heading">
                    {{ data.name }} <a href="#">@{{ data.nickname }}</a>
                    <div>
                        {{ data.key_timeline_post }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="comment-text">
            {{ data.message140 }}
            <a href="{{ data.link }}">{{ data.link }}</a>
        </div>
        <div class="btn-toolbar">
            
            {% if not data['keys']['hash_key_original']  %}
                {{ q_skills(skills = data.skills, skill_find=skill) }}
                {{ button(value=data['keys']['hash_key'], text='...', class_icon='', class_btn='btn-default', btn=False) }}
                {{ button(value=data['keys']['hash_key'], answers=data.total_answers, action="{{ url_for('endpoints.answer', question=data['keys']['hash_key']) }}" , text='answers', class_icon='badge', class_btn='btn-default', btn=False) }}
            {% else %}
                {{ button(value=data['keys']['hash_key_original'], text='...', class_icon='', class_btn='btn-default', btn=False) }}
            {% endif %}
        </div>
    </div>
</li>

{%- endmacro -%}