{% extends "layout.html" %}
{% block body_base %}
	<form method="post" action="{{ url_for('endpoints.answer', question=question) }}">
		<input id="latLong" type="hidden" name="geolocation">
		
		<div>
			<textarea name="message140" rows="4" cols="50"></textarea>
		</div>
		<div>
			url: <input name="link" value="">
		</div>
		<div>
			<tr>
				<td><img class="imgresize" src={{session.user.link_image}}></td>
				<td><input type="submit" value="Help me!"></td>
			</tr>
		</div>
	</form>
{% endblock %}
