{% extends "layout.html" %}
{% block body_base %}
  <div class="container">
      <div class="row">
<!-- Button trigger modal button para activar el popup -->
<!--
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#answer">
      Launch demo modal
      </button>
-->

<!--Creacion de un modal o popup con bootstrap-->
<!--        <div class="modal fade" id="send" >-->
          <div id="answer">
              <div class="modal-dialog">
                  <form method="post" action="{{ url_for('endpoints.answer', question=question) }}">
                      <input id="latLong" type="hidden" name="geolocation">
                      <div class="modal-content">
                          <div class="modal-header">
                              <li class="list-group-item">
                                  <div>
                                      <div class="media">
                                          <a class="pull-left" href="#">
                                              <img class="img-circle resize-img"  src="https://pbs.twimg.com/profile_images/378800000520560847/85619cc22258499b15ce50be7b9631c5.jpeg" alt="...">
                                          </a>
                                          <div class="media-body">
                                              <div class="media-heading">
                                                  Emerson <a href="#">@viejoemer</a>
                                                  <div>
                                                      2014-06-09
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div>
                                      <div class="comment-text">
                                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                          <a href="http://www.youtube.com/watch?v=7-7knsP2n5w">http://www.youtube.com/watch?v=7-7knsP2n5w</a>
                                      </div>
                                      <div class="btn-toolbar">
                                          <div class="pull-left">
                                              <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                              <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                              <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                          </div>
                                          <div class="pull-right">
                                              <a class="btn btn-default btn-xs " href="#">answers <span class="badge">3</span></a>
                                              <a class="btn btn-default btn-xs " href="#">... </a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <textarea class="form-control" rows="5" id="textarea" name="message140" placeholder="Answer!"></textarea>
                              </div>
                              <div class="input-group">
                                  <span class="input-group-addon">url</span>
                                  <input name="link" type="text" class="form-control" placeholder="link">
                              </div>
                          </div>
                          <div class="modal-footer">
                              <a class="pull-left">
                                  <img class="img-circle resize-img" src="{{ session.user.link_image }}">
                              </a>
                              <button type="summit" class="btn btn-primary">
                                  <span class="glyphicon glyphicon-send"> Answer</span>
                              </button>
                              <a type="button" class="btn btn-default" href="{{ url_for('endpoints.home', nickname=session.user.nickname) }}">Close</a>
<!--                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                          </div>
                      </div><!-- /.modal-content -->
                  </form><!-- /.form-send-post -->
              </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
      </div>
  </div>
{% endblock %}