{% extends "layout.html" %}
{% block body_base %}
{% from 'a_q_commons.html' import a_q_format as format%}
<div class="container">
    <div class="row">
<!-- Button trigger modal button para activar el popup -->
<!--
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#answer">
  Launch demo modal
  </button>
-->

<!--Creacion de un modal o popup con bootstrap-->
<!--        <div class="modal fade" id="send" >-->
      <div id="delete">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      {{ format(data=post) }}
                  </div>
                  <div class="modal-footer">
                        <form action="{{ url_for('endpoints.delete_post') }}" method="post">
                            <input type="hidden" name="hash_key" value={{ post['keys']['hash_key'] }}/>
                            <input type="hidden" name="is_question" value={{ post['keys']['hash_key_original'] == None }}/>
                            <button type="summit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"> Delete</span>
                            </button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
{% endblock %}