<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oxfish</title>
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" rel="javascript" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js" rel="javascript" type="text/javascript"></script>  
      
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" rel="javascript" type="text/javascript"></script>

    <script>
    $('.dropdown-toggle').dropdown();
    </script>

    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel=stylesheet type=text/css >
    <style>
        .imgresize{
            width:40px; /* you can use % */
            height:40px;
        }  
    </style>
  </head>
  <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Oxfish</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <form class="navbar-form navbar-left" role="img_profile">
                <a href="/home">
                    <img class="imgresize" src={{session.user.link_image}}>                           
                </a>
                <div class="btn-group">
                	{% for skill in session.user.skills %}
                		<button type="button" class="btn btn-default">{{ skill }}</button>
                	{% endfor %}
                <!--
                  <button type="button" class="btn btn-default">session.user[0]</button>
                  <button type="button" class="btn btn-default">session.user[1]</button>
                  <button type="button" class="btn btn-default">session.user[2]</button>
                -->
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-home"></span>
                </button>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-tasks"></span>
                </button>
              </form>
              <form class="navbar-form navbar-right" role="user_login">
                <button type="submit" class="btn btn-warning">Query</button>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-cog"></span>
                </button>
                <button type="submit" class="btn btn-default">Log off</button>
              </form>
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </div>  
  </body>
</html>