{% extends "nav.html" %}
    {% block nav-img %}
        {% if not session.user %}
            <a class="navbar-brand">
              <img class="img-circle resize-img navbar-img" src="{{ session.user.link_image }}">  
            </a>
        {% endif %}
    {% endblock %}
    {% block nav-in-out %}
        {% if self.nav-img() %}
            <div class="navbar-form navbar-left" role="form">
                <a class="btn btn-default" href="{{ url_for('endpoints.timeline') }}"><span class="glyphicon glyphicon-tasks"></span> Timeline</a>
            </div>
            <div class="navbar-form navbar-right" role="search">
                <a class="btn btn-default" href="{{ url_for('endpoints.login') }}">Log in</a>
                <a class="btn btn-primary" href="{{ url_for('endpoints.login') }}"><span class="glyphicon glyphicon-star"></span> Join</a>
            </div>
        {% else %}
            <div class="navbar-form navbar-left" role="skills">
                <div class="btn-group">
                    <!--  For each para cargar las habilidades  -->
                    <a class="btn btn-default" href="#">skill one</a>
                    <a class="btn btn-default" href="#">skill one</a>
                    <a class="btn btn-default" href="#">skill one</a>
                    <!--  For each para cargar las habilidades  -->
                </div> 
            </div>
            <div class="navbar-form navbar-left" role="login"> <!--method="get" action="/type">-->   
                    <a class="btn btn-default" href="{{ url_for('endpoints.home') }}"><span class="glyphicon glyphicon-home"></span></a>
                    <a class="btn btn-default" href="{{ url_for('endpoints.timeline') }}"><span class="glyphicon glyphicon-tasks"></span></a>
            </div>
            <div class="navbar-form navbar-right" role="query_logoff_settings">
                    <a class="btn btn-primary" href="{{ url_for('endpoints.ask') }}"><span class="glyphicon glyphicon-send"> Send</span></a>
                    <a class="btn btn-default" href="{{ url_for('endpoints.profile') }}"><span class="glyphicon glyphicon glyphicon-cog"></span></a>
                    <a class="btn btn-default" href="{{ url_for('endpoints.logout') }}">Log out </a>
            </div>
        {% endif %}
    {% endblock %}