{% extends "layout.html" %}
{% block body_base %}

<div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
      <div class="col-sm-12">
          <center>
              <img src="{{ profile.link_image }}" class="resize-img-profile img-circle">
          </center>
      </div>
      <div class="col-sm-12">
          <h3>{{ profile.name }}</h3>
          <p><strong>Nickname: </strong> {{ profile.nickname }} </p>
          <p><strong>Registered: </strong> {{ profile.registered }} </p>

          <div class="row">
              <div class="form-group col-sm-4">
                  <h3><strong> {{ profile.total_post }} </strong></h3>  
                  <p><small class="label label-default">Questions</small></p>
              </div>
              <div class="form-group col-sm-4">
                  <h3><strong>{{ profile.score_answers }}</strong></h3>
                  <p><small class="label label-default">Answers</small></p>
              </div>
              <div class="form-group col-sm-4">
                  <h3><strong>{{ profile.score_win_answers }}</strong></h3>
                  <p><small class="label label-default">Win Answers</small></p>
              </div>
          </div>
          
		{% if 'user' in session and profile.nickname == session.user.nickname %}
            <form action="{{ url_for('endpoints.profile', nickname=profile.nickname) }}" method="post" >
                <strong>email: </strong>
                <div class="row">
                    <div class="col-md-offset-3">
                        <div class="col-md-8">
                              <div class="form-group">
                                  <div class="input-group input-group-sm ">
                                      <span class="input-group-addon">@</span>
                                      <input  name="email" value={{ profile.email }} type="text" class="form-control" id="skillone" placeholder="example@example.com">
                                  </div>
                              </div>
                        </div>
                    </div>                                                    
                </div>
                <div id="tags" itemprop="description">
                <strong><span>Skills:</span></strong>
                <div class="row">
                    <div class="col-md-offset-3">
                        <div class="col-md-8">
                            {% if profile.skills %}
                                {% for skill in profile.skills %}
                                    <div class="form-group">
                                      <div class="input-group input-group-sm">
                                          <span class="input-group-addon">♦</span>
                                          <input name="skill" value="{{ skill }}" type="text" class="form-control" placeholder="Ex: java">
                                      </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for i in range(3) %}
                                    <div class="form-group">
                                      <div class="input-group input-group-sm">
                                          <span class="input-group-addon">♦</span>
                                          <input name="skill" type="text" class="form-control" placeholder="Ex: java">
                                      </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>                                                    
                </div>
                </div>   
                <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </form>
		{% else %}
            <div id="tags" itemprop="description">
              <strong><span>Skills:</span></strong>
			{% for skill in profile.skills %}
                <a class="btn btn-default" href="{{ url_for('endpoints.finder', find=skill ) }}">{{ skill }}</a>
	        {% endfor %}
            </div>  
		{% endif %}
      </div>          
  </div>               
</div>

{% endblock %}