{% extends "layout.html" %}
{% block body_base %}

<div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
      <div class="col-sm-12" align="center">
              <img src="{{ profile.link_image }}" class="resize-img-profile img-circle">
      </div>
      <div class="col-sm-12">
          <h3>{{ profile.name }}</h3>
          <p><strong>Nickname: </strong> {{ profile.nickname }} </p>
          <p><strong>Registered: </strong> {{ profile.registered }} </p>

          <div class="row">
              <div class="form-group col-sm-4">
                  <h3><strong> {{ profile.total_post }} </strong></h3>  
                  <p><small class="label label-default">Questions</small></p>
              </div>
              <div class="form-group col-sm-4">
                  <h3><strong>{{ profile.score_answers }}</strong></h3>
                  <p><small class="label label-default">Answers</small></p>
              </div>
              <div class="form-group col-sm-4">
                  <h3><strong>{{ profile.score_win_answers }}</strong></h3>
                  <p><small class="label label-default">Win Answers</small></p>
              </div>
          </div>
          
		{% if 'user' in session and profile.nickname == session.user.nickname %}
            <form action="{{ url_for('endpoints.profile', nickname=profile.nickname) }}" method="post" >
            	{% from "form_fields.html" import form_field_profile, render_field_list %}
            	
            	<strong>email: </strong>
            	{{ form_field_profile(form.email, '@', class="form-control", id="skillone", placeholder="username@example.com", value=profile.email if profile.email) }}
                <div id="tags" itemprop="description">
                	<strong>skills: </strong>
                	{{ render_field_list(form.skills, profile.skills, form_field_profile, symbol='♦', class="form-control", placeholder=['python', 'java', 'c#']) }}
                </div>   
                <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </form>
		{% else %}
            <div id="tags" itemprop="description">
              <strong><span>Skills:</span></strong>
			{% for skill in profile.skills %}
                <a class="btn btn-primary" href="{{ url_for('endpoints.finder', find=skill ) }}">{{ skill }}</a>
	        {% endfor %}
            </div>  
		{% endif %}
      </div>          
  </div>               
</div>

{% endblock %}