{% extends "layout.html" %}
{% block body_base %}
      <div class="container">
          <div class="row">
              
<!-- Button trigger modal button para activar el popup -->
<!--
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#question">
          Launch demo modal
          </button>
-->
<!--Creacion de un modal o popup con bootstrap-->
<!--        <div class="modal fade" id="send" >-->
              <div id="question" >
                  <div class="modal-dialog">
                      <form method="post" action="{{ url_for('endpoints.ask') }}">
                      	{% from "form_fields.html" import form_field_question_skills, render_field_list, render_errors %}
                      	  {{ form.geolocation(id="latLong") }}
                          <div class="modal-content">
                              <div class="modal-header">
                                  <div class="form-group">
                                      <h4 class="modal-title">Looking for people who know about...</h4>
                                  </div>
                                  <div class="row">
                                  	  {{ render_field_list(form.skills, form.skills.data, form_field_question_skills, symbol='♦', class="form-control", placeholder=['python', 'java', 'dynamoDB']) }}
                                  	  {{ render_errors(form.skills.errors_list) }}
                                  </div>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group">
                                  	  {{ form.message140(class="form-control", rows="5", placeholder="Question!") }}
                                      {{ render_errors(form.message140.errors) }}
                                  </div>
                                  <div class="input-group">
                                      <span class="input-group-addon">url</span>
                                      {{ form.link(class="form-control", placeholder="link") }}
                                  </div>
                                  {{ render_errors(form.link.errors) }}
                              </div>
                              <div class="modal-footer">
                                <a class="pull-left">
                                    <img class="img-circle resize-img" src="{{ session.user.link_image }}">  
                                    </a>
                                <button type="summit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-send"> Send</span>
                                </button>
                                <a type="button" class="btn btn-default" href={{ url_for('endpoints.home', nickname=session.user.nickname) }}>Close</a>
                            <!--
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            -->
                              </div>
                          </div><!-- /.modal-content -->
                      </form><!-- /.form-send-post -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </div>
      </div>
{% endblock %}