{% extends "layout.html" %}
{% block body_base %}
{% from 'a_q_commons.html' import a_q_format as format%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Question!</div>
                    <div class="list-group">
                        {{ format(data=questions) }}
                    </div>
            </div>
        </div>
    </div>
</div>

{% if win_answers %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Win Answers</div>
                    <ul class="list-group">
                        <div class="list-group">
                            {% for post in win_answers %}
                                {{ format(data=post,key_user_question=questions.key_user) }}
                            {% endfor %}
                        </div>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if answers %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Answers!</div>
                    <ul class="list-group" id="pagination">
                        <div class="list-group">
                            {% from 'a_q_load_data.html' import load %}
                            {{ load(posts=answers,_key_user_question=questions.key_user) }}
                        </div>
                    </ul>
                    <div class="text-center">
                      <button onclick=myFunction('{{ url_for("endpoints.answers_load") }}') class="btn btn-primary"><span class=""></span> More</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
