<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Oxfish</title>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" rel="javascript" type="text/javascript"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js" rel="javascript" type="text/javascript"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" rel="javascript" type="text/javascript"></script>
      <script type="text/javascript" rel="javascript">
//            jQuery(function ($) {
//                var $btn = $('.action').hide()
//                $(".list-group-item").mouseenter(function () {
//                    $(this).find('.action').show();
////                    $btn.show();
//                });
//
//                $(".list-group-item").mouseleave(function () {
//                    $(this).find('.action').hide();
////                    $btn.hide();
//                });
//            })
      
      </script>
      <!-- Latest compiled and minified CSS -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel=stylesheet type=text/css >
      <style>
          .resize-img{
              width:40px;
              height:40px;
                    }
          .navbar-img{
              margin-top: -9px
                      }
          </style>
      </head>
  <body>
      <div class="container">
          <div class="row">
              
<!-- Button trigger modal button para activar el popup -->
<!--
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#question">
          Launch demo modal
          </button>
-->
<!--Creacion de un modal o popup con bootstrap-->
<!--        <div class="modal fade" id="send" >-->
              <div id="question" >
                  <div class="modal-dialog">
                      <form method="post" action="/send">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <div class="form-group">
                                      <h4 class="modal-title">Looking for people who know about...</h4>
                                  </div>
                                  <div class="form-inline">
                                      <div class="row">
                                          <div class="form-group col-sm-4">
                                              <div class="input-group">
                                                  <span class="input-group-addon">♦</span>
                                                  <input type="text" class="form-control" id="skillone" placeholder="Ex: java">
                                              </div>
                                          </div>
                                          <div class="form-group col-sm-4">
                                              <div class="input-group">
                                                  <span class="input-group-addon">♦</span>
                                                  <input type="text" class="form-control" id="skilltwo" placeholder="Ex: dynamodb">
                                              </div>
                                          </div>
                                          <div class="form-group col-sm-4">
                                              <div class="input-group">
                                                  <span class="input-group-addon">♦</span>
                                                  <input type="text" class="form-control" id="skillthree" placeholder="Ex: python">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group">
                                      <textarea class="form-control" rows="5" id="textarea" name="textarea" placeholder="Question!"></textarea>
                                  </div>
                                  <div class="input-group">
                                      <span class="input-group-addon">url</span>
                                      <input type="text" class="form-control" placeholder="link">
                                  </div>
                              </div>
                                <div class="modal-footer">
                                    <a class="pull-left">
                                        <img class="img-circle resize-img" src="https://pbs.twimg.com/profile_images/378800000520560847/85619cc22258499b15ce50be7b9631c5.jpeg">  
                                        </a>
                                    <button type="summit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-send"> Send</span>
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                          </div><!-- /.modal-content -->
                      </form><!-- /.form-send-post -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </div>
      </div>
    </body>
</html>