<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Oxfish</title>
      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" rel="javascript" type="text/javascript"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js" rel="javascript" type="text/javascript"></script>  
      
      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" rel="javascript" type="text/javascript"></script>

      <script>
            $('.dropdown-toggle').dropdown();
            $(window).on('resize load', function() {
                $('body').css({"padding-top": $(".navbar").height() + "px"});
            });
      </script>

      <!-- Latest compiled and minified CSS -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel=stylesheet type=text/css >
      <style>
          .resize-img{
              width:40px; /* you can use % */
              height:40px;
                    }
          .navbar-img{
              margin-top: -9px
                      }
          .resize-img-profile{
              width:150px; /* you can use % */
              height:150px;
                    }
          </style>
      </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="list-group">
                        <li class="list-group-item">
                            <div>                   
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle resize-img"  src="https://pbs.twimg.com/profile_images/378800000520560847/85619cc22258499b15ce50be7b9631c5.jpeg" alt="...">
                                        </a>
<!--
                                    <form class="pull-right">
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
-->
                                    <div class="media-body">
                                        <div class="media-heading">
                                            Emerson <a href="#">@viejoemer</a>
                                            <div>
                                            2014-06-09
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                    <a href="http://www.youtube.com/watch?v=7-7knsP2n5w">http://www.youtube.com/watch?v=7-7knsP2n5w</a>
                                    </div>
                                <div class="btn-toolbar">
                                    <div class="pull-left">
                                        <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                        <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                        <a class="btn btn-default btn-xs " href="#">flaskdynamodb</a>
                                        </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs " href="#">answers <span class="badge">3</span></a>
                                        <a class="btn btn-default btn-xs " href="#">... </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>         
                    </div>
                </div>
        </div>
                                 
<!--*******************************ANSWERS************************** -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div>                   
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle resize-img"  src="https://pbs.twimg.com/profile_images/378800000520560847/85619cc22258499b15ce50be7b9631c5.jpeg" alt="...">
                                        </a>
<!--
                                    <form class="pull-right">
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
-->
                                    <div class="media-body">
                                        <div class="media-heading">
                                            Emerson <a href="#">@viejoemer</a>
                                            <div>
                                            2014-06-09
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                    <a href="http://www.youtube.com/watch?v=7-7knsP2n5w">http://www.youtube.com/watch?v=7-7knsP2n5w</a>
                                    </div>
                                <div class="btn-toolbar">
                                    <div class="pull-right">
                                        <a class="btn btn-primary btn-xs " href="#">WINNER</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    <!--*******************************XXXXXXXX************************** -->
                        <li class="list-group-item">
                            <div>                   
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle resize-img"  src="https://pbs.twimg.com/profile_images/378800000520560847/85619cc22258499b15ce50be7b9631c5.jpeg" alt="...">
                                        </a>
                                    <form class="pull-right">
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            Emerson <a href="#">@viejoemer</a>
                                            <div>
                                            2014-06-09
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                    <a href="http://www.youtube.com/watch?v=7-7knsP2n5w">http://www.youtube.com/watch?v=7-7knsP2n5w</a>
                                    </div>
                                <div class="btn-toolbar">
                                    <div class="pull-right">
                                        <a class="btn btn-primary btn-xs " href="#">WINNER</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
<!--*******************************TEST************************** -->   
      
        </body>
  </html>