<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>load demo</title>
<!--        http://jsfiddle.net/mjaric/pJ5BR/-->
        <script type="text/javascript" src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script type="text/javascript">
            var WorldCtrl = function ($scope) {
            $scope.population = 7000;
            $scope.countries = [
                {name: 'France', population: 63.1},
                {name: 'United Kingdom', population: 61.8}
            ];
            };
        </script>
    </head> 
    <body ng-app>
        <h1>Countries</h1>

        <ul ng-controller="WorldCtrl">
            <li ng-repeat="country in countries">
                {{country.name}} has population of {{country.population}}
            </li>
            <hr>
        World's population: {{population}} millions
        </ul>
    </body>
</html>