{% extends "layout.html" %}
{% block body_base %}
	    		
	{% for post in find_skill %}
		<div>
			<tr>
			    <td><img class="resize-img" src={{ post.link_image }}></td>
			    <td>{{ post.name }}</td>
			    <td><a href="{{ url_for('endpoints.home', nickname=post.nickname) }}">@{{ post.nickname }}</a></td>			    
	    		<td>{{ post.key_timeline_post }}</td>		
			</tr>
			{% if 'user' in session and post.key_user == session.user.key and not(post.total_answers or post.win) %}
				<form action="{{ url_for('endpoints.delete_post') }}" method="post">
					<input type="hidden" name="full_post" value="{{ post }}">
					<input type="submit" value="Del"/>
				</form>
			{% endif %}			
		</div>
		<div>
			<td>{{ post.message140 }}</td>
		</div>
		<div>link video: {{ post.link }}</div>
		<div>
			<tr>
			    {% for skill in post.skills %}
	  				<a class="btn btn-default" href="{{ url_for('endpoints.finder', find=skill) }}">{{ skill }}</a>
            	{% endfor %}
				<td>answers: {{ post.total_answers }}</td>
				
				<a class="btn btn-default" href="{{ url_for('endpoints.answer', question=post['keys']['hash_key']) }}">Answer!</a>
			</tr>
			<a class="btn btn-default" href="{{ url_for('endpoints.show', question=post['keys']['hash_key']) }}">Show!</a>

		</div>
	{% endfor %}	
{% endblock %}
